<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bs Bao Quoc</title>
</head>
<body>
	<h1>Hello World! fahsf  </h1> 
	<p><%=data%></p>
	<h2>Xin chào</h2> 
	<h3>Xin chào 22</h3> 
	<a href="http://localhost:8081/crud">Thêm người dùng</a> <br/>
	<a href="http://localhost:8081/get-crud">Hiển thị data</a> <br/>
	<a href="http://localhost:8081/api/login">Login</a>
</body>
</html>
